<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oa.web.mapper.SysPermissionMapper">
    
    <resultMap id="BaseResultMap" type="com.oa.bean.sys.SysPermission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="uuid" property="uuid"/>
        <result column="pms_level" property="pmsLevel"/>
        <result column="pid" property="pid"/>
        <result column="icon" property="icon"/>
        <result column="order_by_id" property="orderById"/>
        <result column="pms_type" property="pmsType"/>
        <result column="def_identify" property="defIdentify"/>
    </resultMap>

    <sql id="Select_Where_Clause">

    </sql>

    <sql id="Base_Column_List">
        <trim>
            id, name, url, description, uuid, pms_level, pid, icon, order_by_id, pms_type, def_identify
        </trim>
    </sql>

    <insert id="saveSysPermission" parameterType="com.oa.bean.sys.SysPermission">
        INSERT INTO sys_permission (<include refid="Base_Column_List"/>)
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},#{name},#{url},#{description},#{uuid},#{pmsLevel},#{pid},#{icon},
            #{orderById},#{pmsType},#{defIdentify}
        </trim>
    </insert>

    <update id="updateSysPermission" parameterType="com.oa.bean.sys.SysPermission">
        UPDATE sys_permission
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="uuid != null">
                uuid = #{uuid},
            </if>
            <if test="pmsLevel != null">
                pms_level = #{pmsLevel},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="orderById != null">
                order_by_id = #{orderById},
            </if>
            <if test="pmsType != null">
                pms_type = #{pmsType},
            </if>
            <if test="defIdentify != null">
                def_identify = #{defIdentify}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="_parameter != null">
            DELETE FROM sys_permission WHERE id = #{id}
        </if>
    </delete>

    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_permission WHERE id = #{id}
    </select>
    
</mapper>