<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oa.web.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.oa.bean.sys.SysUser">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="department_id" property="departmentId"/>
        <result column="status" property="status"/>
        <result column="lock_time" property="lockTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="user_type" property="userType"/>
        <result column="description" property="description"/>
        <result column="def_identify" property="defIdentify"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <sql id="Select_Where_Clause">

    </sql>

    <sql id="Base_Column_List">
        <trim>
            id, login_name, nickname, email, password, phone, department_id, status, lock_time,
            create_time, update_time, last_login_time, user_type, description, def_identify
        </trim>
    </sql>

    <insert id="saveSysUser" parameterType="com.oa.bean.sys.SysUser">
        INSERT INTO sys_user (<include refid="Base_Column_List"/>)
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},#{loginName},#{nickname},#{email},#{password},#{phone},#{departmentId},#{status},
            #{lockTime},#{createTime},#{updateTime},#{lastLoginTime},#{userType},#{description},#{defIdentify}
        </trim>
    </insert>

    <update id="updateSysUser" parameterType="com.oa.bean.sys.SysUser">
        UPDATE sys_user
        <set>
            <!--<if test="loginName != null">-->
                <!--login_name = #{loginName},-->
            <!--</if>-->
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="lockTime != null">
                lock_time = #{lockTime},
            </if>
            <!--<if test="createTime != null">-->
                <!--create_time = #{createTime},-->
            <!--</if>-->
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="userType != null">
                user_type = #{userType},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="defIdentify != null">
                def_identify = #{defIdentify}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="_parameter != null">
            DELETE FROM sys_user WHERE id = #{id}
        </if>
    </delete>

    <!-- 根据主键ID查询用户，并查询部门名称 -->
    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <trim>
            A.id, A.login_name, A.nickname, A.email, A.password, A.phone, A.department_id, A.status, A.lock_time,
            A.create_time, A.update_time, A.last_login_time, A.user_type, A.description, A.def_identify, B.name_ AS dept_name
        </trim>
        FROM sys_user AS A
        LEFT JOIN sys_department AS B ON B.id = A.department_id
        WHERE A.id = #{id}
    </select>

    <!-- 根据用户登录名查询用户，并查询部门名称 -->
    <select id="getUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_user WHERE login_name = #{loginName}
    </select>

    <select id="getUserList" parameterType="com.oa.core.bean.PageBean" resultMap="BaseResultMap">
        SELECT
        <trim>
            A.id, A.login_name, A.nickname, A.email, A.password, A.phone, A.department_id, A.status, A.lock_time,
            A.create_time, A.update_time, A.last_login_time, A.user_type, A.description, A.def_identify, B.name_ AS dept_name
        </trim>
        FROM sys_user AS A
        LEFT JOIN sys_department AS B ON B.id = A.department_id
        <where>
            <trim>
                <if test="params.loginName != null and params.loginName != ''">
                    AND login_name = #{params.loginName}
                </if>
            </trim>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            ORDER BY login_name, create_time
        </if>
    </select>

</mapper>