/*@Font*/
@fa-font-path: "../fonts/font4";
@al-font-path: "../fonts/aliyun";
@eui-font-path: "../fonts/eui";

@font-size:   14px;
@line-height: 1;

@fa-css-prefix: fa;
@al-css-prefix: al;
@eui-css-prefix: eui;

@fa-font-version: "4.7.0";
@al-font-version: "4.7.0";
@eui-font-version: "4.7.0";

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-font-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-font-version}') format('embedded-opentype'),
  url('@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-font-version}') format('woff2'),
  url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-font-version}') format('woff'),
  url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-font-version}') format('truetype'),
  url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-font-version}#fontawesomeregular') format('svg');
  // src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aliyun-font';
  font-weight: normal;
  font-style: normal;
  src: url("@{al-font-path}/aliyun-font.eot?@{al-font-version}");
  src: url("@{al-font-path}/aliyun-font.eot?@{al-font-version}#iefix") format("embedded-opentype"),
  url("@{al-font-path}/aliyun-font.ttf?@{al-font-version}") format("truetype"),
  url("@{al-font-path}/aliyun-font.woff?@{al-font-version}") format("woff"),
  url("@{al-font-path}/aliyun-font.svg?@{al-font-version}#aliyun-font") format("svg");
}

@font-face {
  font-family: 'eui-icon';
  font-weight: normal;
  font-style: normal;
  src: url("@{eui-font-path}/eui-font.eot?t=@{eui-font-version}");
  src: url("@{eui-font-path}/eui-font.eot?t=@{eui-font-version}#iefix") format("embedded-opentype"),
  url("@{eui-font-path}/eui-font.woff?t=@{eui-font-version}") format("woff"),
  url("@{eui-font-path}/eui-font.ttf?t=@{eui-font-version}") format("truetype"),
  url("@{eui-font-path}/eui-font.svg?t=@{eui-font-version}#eoffice-icon") format("svg")
}

.zy-icon() {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: @font-size;
  line-height: @line-height;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{fa-css-prefix} {
  font-family: 'FontAwesome', serif;
  .zy-icon();
}

.@{al-css-prefix} {
  font-family: 'aliyun-font', serif;
  .zy-icon();
}

.@{eui-css-prefix} {
  font-family: 'eui-icon', serif;
  .zy-icon();
}

.@{fa-css-prefix}-home:before {content: "\f015"; }
.@{fa-css-prefix}-laptop:before {content: "\f109"; }
.@{fa-css-prefix}-cog:before {content: "\f013"; }
.@{fa-css-prefix}-book:before {content: "\f02d"; }
.@{fa-css-prefix}-indent:before {content: "\f03c"; }
.@{fa-css-prefix}-key:before {content: "\f084"; }
.@{fa-css-prefix}-user-secret:before {content: "\f21b"; }
.@{fa-css-prefix}-user:before {content: "\f007"; }
.@{fa-css-prefix}-sitemap:before {content: "\f0e8"; }
.@{fa-css-prefix}-bullhorn:before {content: "\f0a1"; }
.@{fa-css-prefix}-cube:before {content: "\f1b2"; }
.@{fa-css-prefix}-retweet:before {content: "\f079"; }
.@{fa-css-prefix}-check-square-o:before {content: "\f046"; }
.@{fa-css-prefix}-pie-chart:before {content: "\f200"; }
.@{fa-css-prefix}-wpforms:before {content: "\f298"; }
.@{fa-css-prefix}-user-circle:before {content: "\f2bd"; }
.@{fa-css-prefix}-cloud:before {content: "\f0c2"; }
.@{fa-css-prefix}-sort-amount-desc:before {content: "\f161"; }
.@{fa-css-prefix}-area-chart:before {content: "\f1fe"; }
.@{fa-css-prefix}-sliders:before {content: "\f1de"; }
.@{fa-css-prefix}-car:before {content: "\f1b9"; }
.@{fa-css-prefix}-pencil-square:before {content: "\f14b"; }


.@{al-css-prefix}-aic:before {content: "\e6f4"; }
.@{al-css-prefix}-oas:before {content: "\e645"; }
.@{al-css-prefix}-topbar-secure-setting:before {content: "\e9d1"; }


.@{eui-css-prefix}-news:before {content: "\e6c3"; }
