@import "val";

/* 方法样式文件，只写方法，别写其他样式 */
/*文本框样式*/
.public_input() {
  padding: 6px 0 6px 8px;
  border: 1px solid @default-input-color;
  font-size: 14px;
  *padding-top: 0;
  *padding-right: 0;
  *padding-left: 0;
  *padding-bottom: 0;
}

.p_but(@border, @color) {
  cursor: pointer;
  border: 1px solid @border;
  background-color: @color;
  font-size: 12px;
  text-align: center;
  -webkit-padding-before: 4px;
  -webkit-padding-after: 4px;
  height: 26px \9;
  padding: 6px 0;
  border-radius: 3px;
  color: white;

  &:disabled {
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
    cursor: no-drop;
  }

  &:active {
    background-color: lighten(@color, 8%);
  }
}

/* 模块标题样式 */
.model-tit() {
  position: relative;
  height: 46px;
  background-color: #0099cc;
  border-bottom: 1px solid #daf3fb;
  text-align: left;

  .tit {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 12px 0 12px 56px;
  }

  .more {
    position: absolute;
    right: 14px;
    top: 12px;

    a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .tit-but {
    position: absolute;
    top: 10px;
    right: 30px;
  }
}

/* 文字超长剪切以省略号显示 */
.text-omit() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}

/* 复选框以及单选样式共用 */
.public_custom() {
  .cr-custom {
    position: relative;
    display: block;
    text-align: left;
    line-height: 22px;

    label {
      min-height: 22px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
      display: inline-block;
      padding-left: 6px;
      vertical-align: middle;

      &:empty {
        padding-left: 0;
      }

      &:before {
        position: absolute;
        top: 1px;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        background-color: #fff;
        border: 1px solid #e4eaec;
      }

      &:after {
        display: inline-block;
        position: absolute;
      }
    }

    input[type=checkbox], input[type=radio] {
      width: 21px;
      height: 21px;
      opacity: 0;
      width: 22px \9;
      height: 22px \9;
      line-height: normal;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      outline: 0;
      text-rendering: optimizeLegibility;

      &:focus + label:before {
        outline: 0;
        outline-offset: -2px
      }

      &:disabled + label {
        opacity: .65;
        filter: alpha(opacity=65);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    &.checkbox-custom {

      label {

        &:before {
          border-radius: 3px;
          -webkit-transition: all .3s ease-in-out 0s;
          -o-transition: all .3s ease-in-out 0s;
          transition: all .3s ease-in-out 0s;
        }

        &:after {
          top: 2px;
          left: 1px;
          width: 20px;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          color: #76838f;
          text-align: center;
        }
      }

      input[type=checkbox] {

        &:checked + label:before {
          -webkit-transition: all .3s ease-in-out 0s;
          -o-transition: all .3s ease-in-out 0s;
          transition: all .3s ease-in-out 0s;
        }

        &:checked + label:after {
          content: "\f00c";
          font-family: FontAwesome, serif;
        }

        &:disabled + label:before {
          background-color: #f3f7f9;
          border: 1px #e4eaec;
        }
      }
    }

    &.radio-custom {

      label {

        &:before {
          border-radius: 50%;
          -webkit-transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
          -o-transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
          transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
        }

        &:after {
          top: 7px;
          left: 6px;
          width: 6px;
          height: 6px;
          content: " ";
          background-color: transparent;
          border: 2px solid #76838f;
          border-radius: 50%;
          -webkit-transform: scale(0, 0);
          -ms-transform: scale(0, 0);
          -o-transform: scale(0, 0);
          transform: scale(0, 0);
          transition-transform: .1s cubic-bezier(.8, -.33, .2, 1.33);
        }
      }

      input[type=radio]:checked + label:after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }

    &.primary {

      input[type=checkbox], input[type=radio] {

        &:checked + label {
          &:before {
            background-color: #62a8ea;
            border-color: #62a8ea;
          }

          &:after {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }

    .custom-inline {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;

      & + .custom-inline {
        margin-left: 20px;
      }
    }

    /*&.disabled label {
      cursor: not-allowed;
    }*/
  }
}

/*
.public_custom() {
  position: relative;
  display: block;
  padding: 10px 0 10px 20px;
  text-align: left;
  line-height: 22px;

  label {
    min-height: 22px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;

    &:empty {
      padding-left: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: -20px;
      content: "";
      background-color: #fff;
      border: 1px solid #e4eaec;
    }

    &:after {
      display: inline-block;
      position: absolute;
      margin-left: -20px;
    }
  }

  input[type=checkbox], input[type=radio] {
    display: block;
    z-index: 1;
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    width: 22px\9;
    height: 22px\9;
    left: 1px;
    top: 12px;
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-rendering: optimizeLegibility;

    &:focus + label:before {
      outline: 0;
      outline-offset: -2px
    }

    &:disabled + label {
      opacity: .65;
      filter: alpha(opacity=65);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &.checkbox-custom {

    label {

      &:before {
        border-radius: 3px;
        -webkit-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
      }

      &:after {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        padding-top: 1px;
        font-size: 12px;
        line-height: 20px;
        color: #76838f;
        text-align: center;
      }
    }

    input[type=checkbox] {

      &:checked + label:before {
        -webkit-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
      }

      &:checked + label:after {
        content: "\f00c";
        font-family: FontAwesome, serif;
        left: 1px;
      }

      &:disabled + label:before {
        background-color: #f3f7f9;
        border: 1px #e4eaec;
      }
    }
  }

  &.radio-custom {

    label {

      &:before {
        border-radius: 50%;
        -webkit-transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
        -o-transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
        transition: border .3s ease-in-out 0s, color .3s ease-in-out 0s;
      }

      &:after {
        top: 6px;
        left: 6px;
        width: 6px;
        height: 6px;
        content: " ";
        background-color: transparent;
        border: 2px solid #76838f;
        border-radius: 50%;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        transition-transform: .1s cubic-bezier(.8, -.33, .2, 1.33);
      }
    }

    input[type=radio]:checked + label:after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }

  &.primary {

    input[type=checkbox], input[type=radio] {

      &:checked + label {
        &:before {
          background-color: #62a8ea;
          border-color: #62a8ea;
        }

        &:after {
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }

  .custom-inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    & + .custom-inline {
      margin-left: 20px;
    }
  }

  !*&.disabled label {
    cursor: not-allowed;
  }*!
}*/

/*
.public_but(@width, @height, @border, @color) {
  width: @width;
  height: @height;
  border: 1px solid @border;
  background-color: @color;
  font-size: @fontSize12;
  cursor: pointer;

  &:active&:enabled {
    background-color: lighten(@color, 4%);
  }
}

.private_but(@top, @left, @border, @color) {
  padding: @top @left;
  border: 1px solid @border;
  background-color: @color;
  font-size: @fontSize12;
  text-align: center;
}

.public_but1(@top, @left, @border, @color) {
  cursor: pointer;
  .private_but(@top, @left, @border, @color);

  &:active&:enabled {
    background-color: lighten(@color, 8%);
  }
}



.public_but2(@top, @left, @border, @color) {
  cursor: no-drop;
  letter-spacing: 2px;
  .private_but(@top, @left, @border, @color);
}


!* 文字超长省略 *!
.text-omit() {
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}


!* 文字强换行 *!
.text-line() {
  word-break: break-all;
  word-wrap: break-word;
}

!* 错误信息样式 *!
.public_error() {
  color: @font-color-red;
  margin-left: 6px;
  font-family: "????", serif;
  font-weight: bold;
  line-height: 24px;
  display: block;
  float: left;
}



.p-error() {
  width: inherit;
  padding-left:6px;
  color: @error-color;
  font-weight: bold;
}
*/

.disabledSelectText() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  //-khtml-user-select: none;
  user-select: none;
}

.win-keep-out-fun() {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}



/* 弹窗样式 */
.win-box-fun() {
  //display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  .win-inner {
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  &.opa {
    opacity: 1;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;

    .win-inner {
      -webkit-transition: -webkit-transform 0.3s ease-out;
      -moz-transition: -moz-transform 0.3s ease-out;
      -o-transition: -o-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  .win-con {
    position: relative;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
  }

  .win-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;

    .win-close {
      margin-top: -2px;
    }

    button.win-close {
      padding: 0;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
    }
  }

  .win-body {
    position: relative;
    padding: 20px;
    overflow: hidden;
  }

  .win-wrapper {
    overflow: hidden;

    .wrap-con {
      overflow: auto;
      max-height: 320px;
    }

  }

  .win-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: relative;
  }

  .e-con {
    position: absolute;
    top: 20px;
    left: 20px;

    .e-info {
      font-size: 18px;
      color: red;
    }
  }

  .win-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);

    &:hover, &:focus {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }

  .win-tit {
    margin: 0;
    line-height: 1.428571429;
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
    .win-inner {
      right: auto;
      left: 50%;
      width: 600px;
      padding-top: 160px;
      padding-bottom: 30px;
    }

    .win-con {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
  }
}

.p-info () {
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
}

/* 强制不换行 */
.text-no-line() {
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}