/* CSS变量文件 */

@default-font-color: #333;// 默认字体颜色
@default-font-size: 14px;// 默认字体大小
@default-font-family: "Microsoft YaHei", serif;// 默认字体

@default-a-color: #305aa8;// 默认 a 标签未访问、已访问颜色
@default-a-un-color: #bd0a01;// 默认 a 标签悬浮和活动链接颜色

@default-input-color: #999;// 默认文本框边框色

@default-but-color-border: #2a8c9a;// 默认按钮颜色
@default-but-color-bac: #09c;// 默认按钮背景颜色
@default-con-color: #fbfbfb;// 默认主体区背景颜色
@default-border-color: #e4e4e4;// 默认边框颜色

@success-color: #46be8a;
@error-color: #f96868;
@warning-color: #f2a654;

@main-content-width: 1300px;