<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 自动扫描组件，需要把controller去掉，否则影响事务管理 -->
    <content:component-scan base-package="com.oa.web">
        <content:exclude-filter type="regex" expression="com.oa.web.controller" />
        <!--<content:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    </content:component-scan>

    <!-- 引入jdbc属性文件,jdbc.properties位于src/main/resources/properties目录下 -->
    <!--<content:property-placeholder location="classpath:jdbc.properties"/>-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- 以相应常量名称来设置属性模式 -->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <!-- 如果未能发现属性资源，则设置该属性为true -->
        <property name="ignoreResourceNotFound" value="true" />
        <!-- 设置是否忽略不可解析的占位符 -->
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:shiro-config.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />

        <!--initialSize: 初始化连接-->
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <!-- 最大连接数据库连接数 -->
        <property name="maxActive" value="${jdbc.maxActive}" />
        <!-- 最大空闲连接 -->
        <property name="maxIdle" value="${jdbc.maxIdle}" />
        <!-- 最小空闲连接 -->
        <property name="minIdle" value="${jdbc.minIdle}" />
        <!--maxWait: 超时等待时间以毫秒为单位-->
        <property name="maxWait" value="${jdbc.maxWait}" />

        <!--removeAbandoned: 是否自动回收超时连接 自动消除无用连接-->
        <property name="removeAbandoned"  value="true"/>
        <!--removeAbandonedTimeout: 超时时间(以秒数为单位) 清楚无用连接等待时间-->
        <property name="removeAbandonedTimeout" value="180"/>
        <!--连接属性-->
        <property name="connectionProperties" value="clientEncoding=UTF-8"/>
    </bean>

    <!-- 配置Mybatis的sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 批量扫描别名 -->
        <property name="typeAliasesPackage" value="com.oa.bean" />
        <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
        <property name="mapperLocations" value="classpath*:mapper/*.xml" />
        <!-- 加载mybatis的全局配置文件 -->
        <!--<property name="configLocation" value="classpath:mybatis/mybatisConfig.xml" />-->

        <!-- 设置分页 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            helperDialect=mysql
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!-- spring和mybatis整合配置 mapper扫描器(DAO接口所在包名，Spring会自动查找其下的类) -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
        <property name="basePackage" value="com.oa.web.mapper" />
        <!-- 不能用 name="sqlSessionFactory" ref="sqlSessionFactory",
            这样会导致连不上数据库，必须使用以下配置，配置sqlSessionFactoryBeanName -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>


    <!-- mybatis热加载，修改mybatis的xml文件时热加载xml -->
    <bean id="mybatisMapperDynamicLoader" class="com.oa.web.support.plugin.MybatisMapperDynamicLoader"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>